hs_err_pid*
.settings/
.idea/
.classpath
.project
.directory

/lib/
/*.iml
/*.ipr
/*.iws
/._*

target/classes
.idea_modules/
atlassian-ide-plugin.xml
natives/
/target/

# This is the private script that wesley uses to update out/ with the newest build
target2out.sh